@font-face {
    font-family: "Texta Black";
    src: url('./assets/fonts/texta/Black.otf');
    font-style: normal;
}

@font-face {
    font-family: "Texta Black Italic";
    src: url('./assets/fonts/texta/Black-Italic.otf');
    font-style: italic;
}

@font-face {
    font-family: "Texta Heavy";
    src: url('./assets/fonts/texta/Heavy.otf');
    font-style: normal;
}

@font-face {
    font-family: "Texta Heavy Italic";
    src: url('./assets/fonts/texta/Heavy-Italic.otf');
    font-style: italic;
}

@font-face {
    font-family: "Texta Bold";
    src: url('./assets/fonts/texta/Bold.otf');
    font-style: normal;
}

@font-face {
    font-family: "Texta Bold Italic";
    src: url('./assets/fonts/texta/Bold-Italic.otf');
    font-style: italic;
}

@font-face {
    font-family: "Texta Medium";
    src: url('./assets/fonts/texta/Medium-Italic.otf');
    font-style: italic;
}

@font-face {
    font-family: "Texta Medium Italic";
    src: url('./assets/fonts/texta/Medium.otf');
    font-style: normal;
}

@font-face {
    font-family: "Texta Book";
    src: url('./assets/fonts/texta/Book.otf');
    font-style: normal;
}

@font-face {
    font-family: "Texta Light";
    src: url('./assets/fonts/texta/Light.otf');
    font-style: normal;
}

@font-face {
    font-family: "Agaramond Bold";
    src: url('./assets/fonts/agaramond/Bold.otf');
    font-style: normal;
}

@font-face {
    font-family: "Agaramond Regular";
    src: url('./assets/fonts/agaramond/Regular.otf');
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h2 {
    font-family: "Texta Book";
}

p {
    font-family: "Texta Book";
}

* {
    margin: 0;
    padding: 0;
}

a:active {
    color: #ED1C7F;
}


.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover h1 {
    color: #FFFFFF;
    text-decoration: underline;
}

.active {
    color: #FFFFFF;
    text-decoration: underline;
}

.era-video {
    padding: 0;
    margin: 0 auto;
    display: block;
}

.a-link {
    color: #FFFFFF;
}

.a-link:hover {
    color: #C0C0C0;
}

input::-webkit-input-placeholder {
    color: RGBA(255, 255, 255, 0.65) !important;
}

input:-moz-placeholder { /* Firefox 18- */
    color: RGBA(255, 255, 255, 0.65) !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: RGBA(255, 255, 255, 0.65) !important;
}

input:-ms-input-placeholder {
    color: RGBA(255, 255, 255, 0.65) !important;
}

textarea::-webkit-input-placeholder {
    color: RGBA(255, 255, 255, 0.65) !important;
}

textarea:-moz-placeholder { /* Firefox 18- */
    color: RGBA(255, 255, 255, 0.65) !important;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
    color: RGBA(255, 255, 255, 0.65) !important;
}

textarea:-ms-input-placeholder {
    color: RGBA(255, 255, 255, 0.65) !important;
}

.capability-col {
    padding: 15px !important;
}

.contact-form-input {
    font-size: 2.0em !important;
}

.project-overlay-left {
    top: 30%;
    left: 25px;
}

.project-overlay-right {
    top: 30%;
    right: 25px;
}

.one-column {
    margin: inherit;
    padding: inherit;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: inherit;
    height: inherit;
}

@media only screen and (min-width: 420px) and (max-width: 799px) {
    .capability-col {
        padding: 40px !important;
    }

    .contact-form-input {
        font-size: 2.2em !important;
    }

    .project-overlay-left {
        top: 30%;
        left: 35px;
    }

    .project-overlay-right {
        top: 30%;
        right: 35px;
    }
}

@media only screen and (min-width: 800px) {
    .capability-col {
        padding: 80px !important;
    }

    .contact-form-input {
        font-size: 2.8em !important;
    }

    .project-overlay-left {
        top: 30%;
        left: 50px;
    }

    .project-overlay-right {
        top: 30%;
        right: 50px;
    }
}
